<!-- <script src="http://d3js.org/colorbrewer.v1.min.js"></script> -->
<div class="playvis row" ng-controller="PlayboyCtrl">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-8">
        <div id="usa-map"></div>
      </div>
      <ul class="col-md-4" id="list" >
        <li class="list-unstyled" ng-repeat="playmate in playmates | filter:{'birthplace': {'state' : state}}:true | orderBy: '-likes'">
          <playmate ng-class="tooltip" data="playmate" tooltip="tooltip"></playmate>
        </li>
      </ul>
    </div>
    <div class="row">
      <div class="col-md-12">
        <nvd3 id="hair-color" options="colorOptions" data="colorData"></nvd3>
      </div>
      <div class="col-md-6">
        <nvd3 id="measurements" options="measurementOptions" data="measurementData"></nvd3>
      </div>
    </div>
  </div>
</div>
