<div class="row flyout" ng-class="flyout">
  <div class="col-md-10 col-md-offset-1">
  <div class="row resume">
      <div class="col-md-12 text-right">
      <span class="glyphicon glyphicon-remove nav-menu-close" aria-hidden="true" ng-click="flyout=''"></span>
      </div>
    </div>
    <div class="row about">
      <div class="col-md-12">
        Thanks for checking out my portfolio. I am a Sotware Engineer and UX Designer currently living in Washington DC. I am a huge fan of Ruby on Rails and AngularJS, but am starting to get into more real time stacks like Meteor. If you like a project that I have worked on or just want to grab coffee, please don't hesitate to drop me a note at <a href="mailto:rusnak@vt.edu" target="_top">rusnak@vt.edu</a>
      </div>
    </div>
    <div class="row resume">
      <div class="col-md-12 text-center">
        <a href="https://s3.amazonaws.com/2014Portfolio/Rusnak-3-14.pdf">RESUME</a>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12">
          <div class="col-md-12 text-center">
            <ul class="nav nav-pills center-pills">
              <li><%= link_to icon('twitter'), 'https://twitter.com/ryanrusnak' %></li>
              <li><%= link_to icon('facebook'), 'https://www.facebook.com/ryan.rusnak.10' %></li>
              <li><%= link_to icon('github'), 'http://github.com/ryanrusnak' %></li>
            </ul>
          </div>
      </div>
    </div>
  </div>
</div>
